@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Funnel+Sans:ital,wght@0,424;1,424&family=Imperial+Script&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  background: #4264D0;
  background: linear-gradient(180deg, rgba(66, 100, 208, 1) 27%, rgba(34, 51, 106, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 180px;
  height: 180px;
}

h1 {
  color: #FFFFFF;
  font-size: 58px;
  text-align: center;
  padding: 9px;
}

h2 {
  color: #FFFFFF;
  font-size: 43px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 18px;
}

span {
  color: #FFFFFF;
  font-weight: 500;
}

button {
  width: 270px;
  height: 63px;
  background-color: #4264D0;
  border: none;
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 18px;
  transition: background-color 0.3s;
  margin-top: 36px;
  display: block;
}

button:hover {
  background-color: #3550b8;
}

#remember {
  appearance: none;
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  border-radius: 9px;
  background-color: #D9D9D9;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked::before {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 89, 255);
  font-size: 22px;
}

.text {
  width: 360px;
  height: 63px;
  border-radius: 36px;
  background-color: #D9D9D9;
  border: none;
  padding: 0 18px 0 54px;
  font-size: 18px;
}

.text::placeholder {
  color: #2E2E2E;
}

.container {
  width: 430px;
  height: 600px;
  background-color: #232B47;
  border-radius: 27px;
  padding: 36px;
  display: flex;
  justify-content: center;
}

.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 9px;
}

.input-wrapper {
  position: relative;
  width: 360px;
}

.input-icon {
  position: absolute;
  width: 36px;
  height: 36px;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 1;
}

.text:focus,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

.lock-icon {
  filter: brightness(0) saturate(100%) invert(17%) sepia(6%) saturate(366%) hue-rotate(202deg) brightness(95%) contrast(88%);
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}